#!/bin/bash

EFI_HOME="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

# Set up the environment, so that the variuos modules that the scripts depend on are
# available to Perl.
module load Perl
#export PERL5LIB=
export PATH=$EFI_HOME/bin:$PATH

