#!/bin/bash

EFI_HOME="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

# Set up the environment, so that the variuos modules that the scripts depend on are
# available to Perl.
#module load Perl
#export PERL5LIB=
export PATH=$EFI_HOME/bin:$PATH

PATH="$EFI_HOME/perl5/bin${PATH:+:${PATH}}"; export PATH;
PERL5LIB="$EFI_HOME/perl5/lib/perl5${PERL5LIB:+:${PERL5LIB}}"; export PERL5LIB;
PERL_LOCAL_LIB_ROOT="$EFI_HOME/perl5${PERL_LOCAL_LIB_ROOT:+:${PERL_LOCAL_LIB_ROOT}}"; export PERL_LOCAL_LIB_ROOT;
PERL_MB_OPT="--install_base \"$EFI_HOME/perl5\""; export PERL_MB_OPT;
PERL_MM_OPT="INSTALL_EFI_HOME=$EFI_HOME/perl5"; export PERL_MM_OPT;

