perl                  => 5.10.1
DBI                   => 1.609
DBD::mysql            => 4.013
DBD::SQLite           => 1.27
Capture::Tiny         => 0.42
Exporter              => 5.68
Log::Message::Simple  => 0.10
Getopt::Long          => 2.48
List::Util            => 1.45
List::MoreUtils       => 0.428
IO::File              => 1.16
XML::Writer           => 0.606
XML::LibXML           => 1.70
XML::Parser           => 2.36
XML::LibXML::Reader   => 2.0129
Data::Dumper          => 2.160
File::Slurp           => 9999.19
JSON                  => 2.15
Time::HiRes           => 1.9742
Storable              => 2.56
Scalar::Util          => 1.45
Array::Utils          => 0.5


