[database]
user=
password=
host=
port=
uniref90_db=uniref90.fasta
uniref50_db=uniref50.fasta
uniprot_db=combined.fasta

; The database name and DBI and BLAST database path can be overridden by the environment.
dbi=mysql
name=
blast_db_dir=
diamond_db_dir=

[cluster]
np=48 ; number of processors to use for BLAST jobs
node_np=24 ; number of processors on a single node
max_queue_ram=300 ; maximum amount of RAM allowed to be requested on a queue node
max_mem_queue_ram=1500 ; maximum amount of RAM allowed to be requested on a mem_queue node
mem_res_method=set-cores ;set-cores or set-queue
queue=
mem_queue=
;scheduler=slurm|torque|pbspro
scheduler=slurm
; =yes means to create a script that runs all of the actions in serial mode, i.e. for a single computer.
serial=no
scratch_dir=/scratch
; this is an optional parameter that is required by PBSPro. It can be in hours (with fractions) or HH:MM:SS format.
;default_wall_time= 

[cgfp]
search=diamond
; Relative paths means it's local to the EFITools repo
shortbred_repo=sbin/efi_cgfp/shortbred_20180817 ; ShortBRED from Huttenhower

[cgfp.database]
hmp=

; Any extra job scheduler headers that are required must be place in here; the other environment
; sections are not guaranteed to immediately follow the scheduler headers.
[environment.headers]

; Anytime the "est-std" environment is requested by the scripts, the following directives are inserted
; into the job script.
; These are used to add environment variables to job scripts, and are directly inserted into the
; job script files (use source ... or module load)
[environment.est-std]
module load efidb/ip76
module load BLAST
module load Perl
module load CD-HIT

; Anytime the "est-graphs" environment is requested by the scripts, the following directives are inserted
; into the job script.
; These are used to add environment variables to job scripts, and are directly inserted into the job
; script files (use source ... or module load)
[environment.est-graphs]
module load GD
module load R

[environment.est-graphs-v2]
module load HDF5
module load Python

[environment.est-diamond]
module load DIAMOND

[environment.est-blast+]
module load BLAST+

[environment.est-color]
module load Perl
module load BLAST

[environment.gnt]
module load Perl
module load BLAST

[environment.cgfp]
module load Python/2
module load Biopython
module load USEARCH/9
module load MUSCLE/3
module load BLAST+
module load CD-HIT
module load DIAMOND

